apiVersion: apps/v1
kind: Deployment
metadata:
  name: location-service
  namespace: microservices
  labels:
    app: location-service
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: location-service
  template:
    metadata:
      labels:
        app: location-service
    spec:
      terminationGracePeriodSeconds: 10
      nodeSelector:
        kubernetes.io/arch: arm64
      containers:
        - name: location-service
          image: 192.168.0.106:5000/location-service:latest
          imagePullPolicy: Always # Never For local Docker Desktop
          ports:
            - containerPort: 5006
          env:
            - name: NODE_ENV
              valueFrom:
                configMapKeyRef:
                  name: microservices-config
                  key: NODE_ENV
            - name: LOCATION_GRPC_PORT
              valueFrom:
                configMapKeyRef:
                  name: microservices-config
                  key: LOCATION_GRPC_PORT
          resources:
            requests:
              memory: '256Mi'
              cpu: '250m'
            limits:
              memory: '512Mi'
              cpu: '500m'
          readinessProbe:
            tcpSocket:
              port: 5006
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 3
          livenessProbe:
            tcpSocket:
              port: 5006
            initialDelaySeconds: 30
            periodSeconds: 20
            failureThreshold: 3
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - api-gateway
                topologyKey: kubernetes.io/hostname
      tolerations:
        - key: "node.kubernetes.io/unreachable"
          operator: "Exists"
          effect: "NoExecute"
          tolerationSeconds: 5
        - key: "node.kubernetes.io/not-ready"
          operator: "Exists"
          effect: "NoExecute"
          tolerationSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: location-service
  namespace: microservices
spec:
  selector:
    app: location-service
  ports:
    - port: 5006
      targetPort: 5006
  type: ClusterIP

---
# Horizontal Pod Autoscaler for location-service
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: location-service-hpa
  namespace: microservices
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: location-service
  minReplicas: 2
  maxReplicas: 2
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
